
<form class="py-4 container">
    <div class="input-group input-group-lg">
        <input type="text" @bind="@Name" class="form-control" placeholder="Add name..." autofocus>
        <input type="text" @bind="@Status" class="form-control" placeholder="Add status..." autofocus>
        <input type="text" @bind="@SentData" class="form-control" placeholder="Add data..." autofocus>
        <button @onclick="OnAdd" @onclick:preventDefault="true" id="addItemBtn" class="btn btn-info">ADD</button>
    </div>
</form>

@code {
    //public string Id { get; set; }

    public string Name { get; set; }

    public bool Status { get; set; }

    public string SentData { get; set; }

    [Parameter]
    public EventCallback<TempDTO> Add { get; set; }
    //public EventCallback<CreateMachineDTO> Add { get; set; }


    public async Task OnAdd()
    {
        if (Add.HasDelegate)
        {
            var tempDTO = new TempDTO();
            tempDTO.Name = Name;
            tempDTO.Status = Status;
            tempDTO.SentData = SentData;

            await Add.InvokeAsync(tempDTO);
        }
        Name = default;
        Status = default;
        SentData = default;
    }
}
